*.gem
*.rbc
.bundle
.byebug_history
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
lib/nokogiri_ext_xmlsec.bundle
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/old
*.so
*.sw[opn]
*.gemfile.lock